@font-face {
  font-family: 'LibreBaskerville';
  font-style: normal;
  font-weight: 100 400;
  src: url("/static/LibreBaskerville-Regular.ttf") format('ttf');
}

@font-face {
  font-family: 'UbuntuMono';
  font-style: normal;
  font-weight: 100 400;
  src: url("/static/UbuntuMono-Regular.ttf") format('ttf');
}

html{
    font-family: "LibreBaskerville", serif;
}

body{
    background: #121212;
    color: rgba(255, 255, 255, 0.76);
    /* position: absolute; */
    /* top: 10px;
    bottom: 20px;
    width: 99%; */
    font-family: "LibreBaskerville", serif;
    font-size: 30px;
    /* margin-left: 10px; */
    max-width:1200px;
		margin:0 auto;
}

pre {
  background-color: #424242;
  /* white-space: pre-wrap;
  word-break: break-word;
  max-width: 100%;
  overflow-wrap: anywhere; */
}

.inline{
  display:inline;
}

/* For most modern browsers (Chrome, Edge, Safari, Firefox, Opera) */
::selection {
  /* Change the background color of the highlight */
  background-color: rgb(14, 183, 9);

  /* Change the color of the highlighted text */
  color: rgb(61, 68, 124);
}

/* For compatibility with older Firefox versions */
::-moz-selection {
  background-color: rgb(14, 183, 9);
  color: rgb(61, 68, 124);
}

h1 {
    font-family: "UbuntuMono", sans-serif;
    color: white;
    font-size: 50px;
}

h2 {
    font-family: "UbuntuMono", sans-serif;
    color: white;
    font-size: 40px;
}

hr{
    margin-left:0;
    left: 0px;
    /* width: 500px; */
}

a:link {
  text-decoration: underline dotted;
  color: rgb(255, 143, 143);
}
a:visited {
  /* text-decoration: dashed; */
  color: rgb(255, 143, 143);
  border-color: hotpink;
}
a:hover {
  text-decoration: underline;
  color: rgb(255, 143, 143);
}
a:active {
  text-decoration: underline;
  color: rgb(255, 143, 143);
}
