#music-container{
    /* display:block; */

    /* border: 1px solid white; */
}

.trackElem {
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
    display:flex;
    /* flex:1; */
}

.trackElem img{
    width:100%;
    /* height:50%; */
    max-width: 300px !important; 
    /* max-height: 100%; */
}