<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common.html :: headerFragment}">
    <title id="pageTitle">DavidPineiro | Poetic Fictions(?)</title>
</head>


<body>

<div th:insert="~{common.html :: navBar}"></div>

<h2>Poetic Fictions(?)</h2>
<p>this is a secret page</p>

<div id="nav-kendrick-shitter">
    <h3>Kendrick Lamar, I am a shitter.</h3>
    <p>
        I am a shitter, who's probably gonna shit again.<br>
        Lord forgive me, Lord forgive me.<br>
        I can smell it coming from a mile away.
    </p>
</div>



</body>

</html>